@charset "UTF-8";
.str15 {stroke:red;stroke-width:26.21;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str16 {stroke:#2B2A29;stroke-width:19.81;stroke-miterlimit:22.9256;stroke-dasharray:99.044807 99.044807}
.str2 {stroke:black;stroke-width:25.61;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str10 {stroke:black;stroke-width:0.61;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str11 {stroke:black;stroke-width:5.7;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str5 {stroke:black;stroke-width:8.54;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str4 {stroke:black;stroke-width:34.15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str0 {stroke:black;stroke-width:14.23;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str1 {stroke:black;stroke-width:39.85;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str13 {stroke:blue;stroke-width:17.08;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str7 {stroke:#00B800;stroke-width:17.08;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str9 {stroke:aqua;stroke-width:17.08;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str12 {stroke:#A953A0;stroke-width:17.08;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str8 {stroke:red;stroke-width:17.08;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str6 {stroke:fuchsia;stroke-width:17.08;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str14 {stroke:yellow;stroke-width:17.08;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.str3 {stroke:black;stroke-width:17.08;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10}
.fil8 {fill:none}
.fil0 {fill:none;fill-rule:nonzero}
.fil2 {fill:black;fill-rule:nonzero}
.fil6 {fill:blue;fill-rule:nonzero}
.fil4 {fill:#00B800;fill-rule:nonzero}
.fil5 {fill:#A953A0;fill-rule:nonzero}
.fil7 {fill:red;fill-rule:nonzero}
.fil3 {fill:fuchsia;fill-rule:nonzero}
.fil1 {fill:black;fill-rule:nonzero}
